<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
</head>
<body>
<h1>Create a new Quiz</h1>
<form action ="{% url 'create_quiz' %}" method="post">
    {% csrf_token %}
    Quiz Name:
    <input type="text" name = quizname>
    <br>
    <br>
    Question:
    <input type="text" name = question>
    <br>
    <br>
    Answer choice:
    <input type="text" name = answerchoice>
    <br>
    Answer choice:
    <input type="text" name = answerchoice>
    <br>
    Answer choice:
    <input type="text" name = answerchoice>
    <br>
    Answer choice:
    <input type="text" name = answerchoice>
    <br>
    <input type="submit" value="Create" />
</form>
</body>
</html>