{% load static %}
<script src="{% static "quiz/create.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Quiz</title>
</head>
<body>

<h1>Create a new Quiz</h1>

<form action ="{% url 'quiz:create_quiz' %}" method="post">
    {% csrf_token %}
    <div>
        Quiz Name:
        <input type="text" name="quizname">
        <br>
        <br>
    </div>
    <div id="questionTextForm">
        Question 1 <input type="text" id="1" name="questions[]">
        <div id="answerChoiceForm">
            Choice 1 <input type="text" id="1" name="answerChoices[]1">
        </div>
        <input type="button" value="Add choice" onClick="addChoice('answerChoiceForm');">
        <input type="button" value="Add Question" onclick="addQuestion('answerChoiceForm');">
    </div>
    <br>
    <input type="submit" value="Create Quiz" />
</form>
</body>
</html>