{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Url</title>

    <script type="text/javascript">
        var userip;
    </script>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
</head>

<body>
    <h1>Visit <script type="text/javascript">document.write(userip)</script>:8000/quiz and enter the code below to join the survey</h1>
</body>
</html>