{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Url</title>

    <script type="text/javascript">
        var userip;
    </script>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userip"></script>
</head>

<body>
<h1>Visit <a href="{% url 'quiz:join' %}"><u><script type="text/javascript">document.write(userip)</script>:8000/quiz/join</u></a> and enter the code below to join the survey</h1>

<h1>Code: <a>{{quiz_id}}</a></h1>

<br>
<button onclick="window.location.href='/quiz/teacher/' + {{ quiz_id }}">Start</button>

</body>
</html>