{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Join</title>
</head>
<body>
<h1>Enter a code to join a survey</h1>

<script>
    var quiz_url;
    var question_url = "{{ question_id }}";
    function setUrl() {
       quiz_url = document.getElementById("codeId").value;
       var form = document.getElementById("submitForm").action="/quiz/student/" + quiz_url + "/" + question_url;
    }
</script>

<form action="" id="submitForm">
    Enter a code: <input type="text" name="code" id="codeId">
    <input type="submit" value="Join fool" onclick="setUrl()">
</form>

</body>
</html>