{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student View</title>
</head>
<body>


<h1> {{ question.question_text }} </h1>

<form>
    {% for answer in question.answers.all %}

        <input type="radio", name="answer"> {{ answer.choice_text }}
        <br>

    {% endfor %}
</form>
<br>

</body>
</html>