{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <script>
        var last_id = {{ last_id }}

        function nextQuestion()
        {   //only advance to next question if the id given is still in the specified quiz
            var questionId = ({{ question.id }} + 1);

            if (questionId <= last_id) {
                window.location.href = '/quiz/teacher/' + {{ quiz_id }} + '/' + questionId;
            }
            else {
                window.location.href = "/quiz/teacher/results/" + {{ quiz_id }};
            }
        }
    </script>
</head>
<body>


    <h1>{{ question.question_text }}</h1>
    {% for answer in question.answers.all %}
        <h2> {{ answer.choice_text }} </h2>
        <p> Votes: {{ answer.votes }} </p>
        <br>
    {% endfor %}


    <button onclick="nextQuestion()">Next</button>

</body>
</html>