{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Edit</title>
</head>
<body>

<h1> Edit: {{ question.question_text }} </h1>

    Question: <input type="text" value="{{ question.question_text }}">

    {% for answer in question.answers.all %}
        <li><input type="text" value="{{ answer.choice_text }}">
        <br>
    {% endfor %}
    <br>


<button onclick="location.href ='/quiz/teacher/' + {{ quiz_id }} + '/' + {{ question.id }}">Finished</button>

</body>
</html>