{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/gradient.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher View</title>
</head>
<body style="background: linear-gradient(270deg, rgb(0,250,145), rgb(123,138,255)) 0% 0% / 200% 200%; animation: CustomAnimation 22s ease infinite;">
<h1>Teacher Administration</h1>
<ul>

    <li><a href="{% url 'quiz:create' %}">Create a Quiz</a></li>
    <li><a href="{% url 'quiz:quiz_list_view' %}">View Quizzes</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>

</ul>

</body>
</html>