{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'quiz/style.css' %}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Edit</title>
</head>
<body>



<form action ="{% url 'quiz:edit_question' %}" method="post">
{% csrf_token %}
    <h1>Question: <input type="text" name="questionText" value="{{ question.question_text }}"></h1>
    {% for answer in question.answers.all %}
        <li><input type="text" name="answers[]" value="{{ answer.choice_text }}">
        <br>
    {% endfor %}
    <input type="hidden" name="quizId" value="{{ quiz_id }}">
    <input type="hidden" name="questionId" value="{{ question.id }}">
    <input type="submit" value="Save" />
    <br>
</form>








</body>
</html>