html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    animation: bgcolor infinite 20s;
}

html {
    display: table;
    margin: auto;

}

body {
    display: table-cell;
    vertical-align: middle;
    color: #EDF3FC;
    font-family: Rockwell;
}

h1 {
    color: #000000;
}

a {
    color: #fffdfb;
}


@keyframes  bgcolor{
    0%{
        background: #16a085;
    }
    20%{
        background: #27ae60;
    }
    40%{
        background: #2980b9;
    }
    60%{
        background: #8e44ad;
    }
    80%{
        background: #c0392b;
    }
    100%{
        background: #2c3e50;
    }
}



